/**
 * Application Stylesheet for Dánlann
 */
body {
  font-family: sans-serif;
  background-color: #000;
}

a {
  color: #aaa;
}

a:hover {
  color: #fff;
}

a:active {
  border: none;
}
div.page {
  color: #eee;
  background-color: #111;
  min-width: 800px;
  width: 80%;
  margin: auto;
  border: 3px solid #444;
  padding: 1em;
}

div.header {
  background-color: #111;
  padding: 1em;
  margin-bottom: 1em;
}

div.header>h1 {
  color: #fff;
  font-size: 240%;
  width: 50%;
}

div.header>ul {
  padding: 0;
}

div.header>ul>li>a, div.header>ul>li>a:visited {
  color: #aaa;
  font-weight: bold;
}

div.header>ul>li, ul.tags>li {
  list-style: none;
  padding-right: 2em;
  display: inline;
}
ul.tags {
  float: right;
}

ul.navigation {
  float: right;
  margin-top: -4em;
}

form.search {
  float: right;
  margin-top: -6.6em;
}
div.content {
  min-height: 500px;
}
div.content>form {
  width: 20em;
  margin: auto;
}
form>p.form>label {
  display: block;
}
div.content div.picture {
  display: inline;
}
div.content div.picture>img.picture {
  float: left;
  margin: 0 1em 1em 0;
}
div.content>div.picture>p>img {
  float: right;
  margin: 1em 0 1em 1em;
}
div.content>div.links {
  text-align: center;
}
div.content>div.links>a {
  margin: 3em;
}

a, a>img {
  text-decoration: none;
  border: none;
}
/*
* vi:ft=css:tw=79:ts=2:sw=2
*/
