<% title 'Pictures' %>
<div class='pictures'>
  <%- @pictures.each do |picture| -%>
  <%= render :partial => picture %>
  <%- end -%>
</div>
<div class='links'>
  <%= link_to 'Upload a Picture', new_picture_path %>
</div>
