<h1><%= @picture.name %></h1>
<ul class='tags'>
  <% @picture.tags.each do |tag| %>
  <li><%= link_to(tag.name, tag) %>
  <% end %>
</ul>
<%= image_tag picture_path(@picture, :format => :jpg) %>
<p class='description'><%= @picture.description %></p>
